<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name Change</title>
</head>
<body>
    <h2>Change Display Name</h2>
    {% include 'components/header.html' %}
    {% include 'components/flashes.html' %}
    <form id="changeNameForm" action="{{ url_for('app.post_name_change') }}" method="POST">

        <label for="name">New Name:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Save</button>

    </form>
</body>
</html>