<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=10">
  <title>Account Dashboard</title>
  <style>
    ul li {
      margin-bottom: 10px; /* Adjust the gap as needed */
    }
  </style>
</head>
<body>
  <h1>Manage Your Account</h1>
  {% include 'components/header.html' %}
  {% include 'components/flashes.html' %}
  <ul style="gap: 100px">
    {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('app.logout') }}">Logout</a>
    </li>
    {% else %}
    <li>
      <a href="{{ url_for('app.get_login') }}">Login</a>
    </li>
    {% endif %}
    <li>
      <a href="{{ url_for('app.get_username_change') }}">Change your username</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_name_change') }}">Change your displaying name</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_password_reset') }}">Reset your password</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_password_change') }}">Change your password</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_email_change') }}">Change your email adress</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_account_deletion') }}">Delete your account</a>
    </li>
    <li>
      <a href="{{ url_for('app.get_archive') }}">Request an archive of your data</a>
    </li>
  </ul>
</body>
</html>