<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Reset Password</h2>
    {% include 'components/header.html' %}
    {% include 'components/flashes.html' %}
    <form id="resetPasswordForm" action="{{ url_for('app.post_password_reset') }}" method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <button type="submit">Reset Password</button>

    </form>
</body>
</html>